html,
body {
  height: 100%;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}


.calculator{
  background-color: black;
  padding: 10px;
}

.screen{
}

input{
  direction: rtl;
}