html,
body {
  height: 100%;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}


.calculator{
  background-color: rgba(0, 0, 0, 0.904);
  padding: 12px 10px;
  border-radius: 5px;
}


input{
  direction: rtl;
  width: 415px;
  height: 95px;
  margin-bottom: 10px;
  font-size: 90px;
  background-color: rgba(158, 155, 152, 0.822);
}

.button-container{
  display: flex;
  width: 422px;
  gap: 7px;
  flex-wrap: wrap;
}

.button{
  background-color: #079c68;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: x-large;
  font-weight: 300
}

/* first three buttons of calculator different color styling*/
.ac, .plusminus, .percent{
  background-color: #d8a80c;
}

/* right side of calculator stylings */
.slash,.asterisk,.minus,.plus,.equal {
  background-color: #9c6807;
}

/* making the "zero" button fill the grid */
.zero{
  width: 207px;
  /* flex: 1; */
}

/* removing button styling */
button{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button:hover {     
  opacity: 90%;
}

.button:active {
  opacity: 85%;
  transform: translateY(1px);
}