html,
body {
  height: 100%;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}


.calculator{
  background-color: rgb(0, 0, 0);
  padding: 12px;
  border-radius: 5px;
}


input{
  direction: rtl;
  width: 422px;
  height: 95px;
  margin-bottom: 10px;
  font-size: 100px;
  background-color: rgba(158, 155, 152, 0.822);
}

.button-container{
  display: flex;
  width: 430px;
  gap: 10px;
  flex-wrap: wrap;
}

.button{
  background-color: rgb(60, 173, 173);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

/* first three buttons of calculator different color styling*/
.ac, .plusminus, .percent{
  background-color: rgba(60, 173, 173, 0.76);
}

/* right side of calculator stylings */
.slash,.asterisk,.minus,.plus,.equal {
  background-color: yellow;
}

/* making the "zero" button fill the grid */
.zero{
  flex: 1;
}